<template id="main">
  <nav  id="nav">
    <span class="title">News</span>
    <mat-divider></mat-divider>
  </nav>
  <section id="section">
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Menu">
        <app-menu></app-menu>
      </mat-tab>
      <mat-tab label="Listar">
       <app-list></app-list>
      </mat-tab>
      <mat-tab label="Esportes">
       </mat-tab>
       <mat-tab label="Política">
       </mat-tab>
    </mat-tab-group>
  </section>
  <footer id="footer">
    <h4>© 2021 News</h4>
    <h4>Victor Santos</h4>
    <h4>Angular !Ayugate</h4>
  </footer>
</template>
