<section id="main">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image">
      </div>
      <mat-card-title>Notícias Online</mat-card-title>
      <mat-card-subtitle>André Lima</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/backgroundimg.jpg">
    <mat-card-content>
      <p>
        Jornal online é a versão online de um jornal, ou como uma publicação independente
        ou como a versão online de um jornal impresso. Ir para o meio online cria mais 
        oportunidades para que publicações possam competir com jornalismo na apresentação 
        de notícias de última hora de forma mais oportuna. A credibilidade e o reconhecimento
        de uma marca forte de jornais bem estabelecidos, e as estreitas relações que têm com
        os anunciantes, também são vistos por muitos na indústria de jornais como fatores de
        fortalecimento de suas chances de sobrevivência. O movimento longe do processo de
        impressão também pode ajudar a diminuir os custos. Os jornais online são muito parecidos
        com os jornais impressos e têm os mesmos limites legais, tais como leis sobre difamação,
        privacidade e direitos autorais, também se aplicam às publicações online na maioria dos
        países, como no Reino Unido...
      </p>
    </mat-card-content>
  </mat-card>

  <mat-divider></mat-divider>


   <button
    mat-fab
    color="black"
    (click)="openDialog()"
    >
    Escrever
  </button>

</section>

